# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [49]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [50]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [51]:
# Your code here:

pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [52]:
# Your code here:
mean=(pokemon.groupby(["Legendary"]).agg({"Total":"mean"}))
mean.reset_index()
std=(pokemon.groupby(["Legendary"]).agg({"Total":"std"}))
std=std.reset_index()
display(std)




# data.groupby(["prime_genre"]).
# .agg({"price":"mean"})

   Legendary       Total
0      False  106.760417
1       True   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [53]:
leg_pok=pokemon[pokemon["Legendary"]==True]
leg_pok

non_leg_pok=pokemon[pokemon["Legendary"]==False]
non_leg_pok

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [56]:
# Your code here:
import scipy.stats as st

# 1. SET THE HYPOTHESIS

#H0: mean total points of legendary pokemons = mean total points of non-legendary pokemons
#H1: mean total points of legendary pokemons != mean total points of non-legendary pokemons

#2. CHOOSE SIGNIFICANCE LEVEL

# 5%
alpha = 0.05

# 3. SAMPLE
pokemon

#4. and 5 COMPUTE THE TEST STATISTIC AND THE P_VALUE
st.ttest_ind(leg_pok["Total"],non_leg_pok["Total"], equal_var=False)

#the second parameter is wht is fixed in the middle. the first one is what moves
#the p_value is the p_value for a two tailed test by default when using ttest_rel

9.357954335957446e-47<alpha

True

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

#p_value < alpha -> we reject the null option, meaning it's unlikely that the total points of legendaray and non-legendary are the same

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [60]:
# Your code here:

pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [70]:
# Your code here:

water_pok=pokemon[pokemon["Type 1"]=="Water"]
water_mean=water_pok["Total"].mean()
water_std=water_pok["Total"].std()

non_water_pok=pokemon[pokemon["Type 1"]!="Water"]
non_water_mean=non_water_pok["Total"].mean()
non_water_std=non_water_pok["Total"].std()

print(water_mean)
print(water_std)
print(non_water_mean)
print(non_water_std)

430.45535714285717
113.18826606431458
435.85901162790697
121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [74]:
# Your code here:

# 1. SET THE HYPOTHESIS

#H0: mean total points of water pokemons = mean total points of non-water pokemons
#H1: mean total points of water pokemons != mean total points of non-water pokemons


#2. CHOOSE SIGNIFICANCE LEVEL

# 5%
alpha = 0.05

# 3. SAMPLE
pokemon

#4. and 5 COMPUTE THE TEST STATISTIC AND THE P_VALUE
st.ttest_ind(water_pok["Total"],non_water_pok["Total"], equal_var=True)

Ttest_indResult(statistic=-2.0766703780364515, pvalue=0.03815147923941951)

Write your conclusion below.

In [73]:
# Your conclusions here:
0.6587140317488793<alpha

#we can't reject the null hypothesis meaning we can't say with 95% confidence that the total points of water pokemons
#  are equal to non-water pokemons

False

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [77]:
# Your code here:
# 1. SET THE HYPOTHESIS

#H0: mean defense = mean of attack
#H1: mean defense != mean of attack

#2. CHOOSE SIGNIFICANCE LEVEL

# 5%
alpha = 0.05

# 3. SAMPLE
pokemon

#4. and 5 COMPUTE THE TEST STATISTIC AND THE P_VALUE

st.ttest_rel(pokemon["Defense"],pokemon["Attack"])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [78]:
# Your conclusions here:

1.7140303479358558e-05<alpha

#we reject the null hypothesis, meanign we can't say with 95% confidence that the mean of attack and defence are equal

True

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [79]:
# Your code here:

#H0: mean spe.defense = mean of sp. attack
#H1: mean sp.defense != mean of sp. attack

#2. CHOOSE SIGNIFICANCE LEVEL

# 5%
alpha = 0.05

# 3. SAMPLE
pokemon

#4. and 5 COMPUTE THE TEST STATISTIC AND THE P_VALUE

st.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [80]:
# Your conclusions here:

0.3933685997548122<alpha

#we can't reject the null hypotehesis meaning that we can't say with 95% confidence that the sp. attack is equal to sp. defence

False

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [82]:
# Your code here:
    
#H0: mean defense - mean attack = 0
#H1: mean defense - mean attack != 0

#2. CHOOSE SIGNIFICANCE LEVEL

# 5%
alpha = 0.05

# 3. SAMPLE
pokemon

#4. and 5 COMPUTE THE TEST STATISTIC AND THE P_VALUE

stat, p_value = st.ttest_1samp(pokemon["Attack"]-pokemon["Defense"],0)
print(stat)
print(p_value)

## the p_value and stat the same, meaning the tests ahve the same results

4.325566393330478
1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: